@font-face {
  font-family: "getSchwifty";
  src: url("getSchwifty.ttf") format("truetype"), url("getschwifty-webfont.woff") format("woff");
}
.html,
.body,
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.html .main-wrapper,
.body .main-wrapper,
#root .main-wrapper {
  margin-top: 4vh;
  margin-bottom: 4vh;
  min-width: 88vw;
  height: auto;
  min-height: 85vh;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  text-align: center;
  align-content: center;
  background-color: #454040;
  color: #27c208;
  display: flex;
  flex-flow: column;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.html .main-wrapper h1,
.body .main-wrapper h1,
#root .main-wrapper h1 {
  font-family: "getSchwifty", sans-serif;
  font-size: 3rem;
}
.html .main-wrapper .ui-center-large,
.body .main-wrapper .ui-center-large,
#root .main-wrapper .ui-center-large {
  width: 100%;
  margin: 2.5rem auto;
  text-align: center;
}
.html .main-wrapper .nav-buttons,
.body .main-wrapper .nav-buttons,
#root .main-wrapper .nav-buttons {
  width: 100%;
}
.html .main-wrapper .nav-buttons .view-characters-btn,
.body .main-wrapper .nav-buttons .view-characters-btn,
#root .main-wrapper .nav-buttons .view-characters-btn {
  margin: 1rem;
  width: 14rem;
  height: 3.5rem;
  height: 3.5rem;
}
.html .main-wrapper .ui-center,
.body .main-wrapper .ui-center,
#root .main-wrapper .ui-center {
  font-family: "Orbitron", sans-serif;
}
.html .main-wrapper .grid-view,
.body .main-wrapper .grid-view,
#root .main-wrapper .grid-view {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  height: auto;
}
.html .main-wrapper .main-img,
.body .main-wrapper .main-img,
#root .main-wrapper .main-img {
  border: 8px solid black;
  display: block;
  border-radius: 100%;
  margin: 2rem auto;
}
.html .main-wrapper .list-wrap,
.body .main-wrapper .list-wrap,
#root .main-wrapper .list-wrap {
  max-height: 100%;
  width: 90vw;
  max-width: 90vw;
  align-items: center;
  background-color: #454040;
  color: #27c208;
  padding: 0 7%;
  padding-bottom: 2rem;
}
.html .main-wrapper .list-wrap .results-display,
.body .main-wrapper .list-wrap .results-display,
#root .main-wrapper .list-wrap .results-display {
  display: flex;
  align-items: center;
}
.html .main-wrapper .list-wrap .results-display h4,
.body .main-wrapper .list-wrap .results-display h4,
#root .main-wrapper .list-wrap .results-display h4 {
  margin-right: 1rem;
}
.html .main-wrapper .list-wrap .results-display h3,
.body .main-wrapper .list-wrap .results-display h3,
#root .main-wrapper .list-wrap .results-display h3 {
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0.2rem;
}
.html .main-wrapper .list-wrap h1,
.body .main-wrapper .list-wrap h1,
#root .main-wrapper .list-wrap h1 {
  font-size: 50pt;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.html .main-wrapper .inner-list,
.body .main-wrapper .inner-list,
#root .main-wrapper .inner-list {
  display: grid;
  border-radius: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr);
  column-gap: 1px;
  row-gap: 1px;
  align-content: center;
  text-align: center;
}
.html .main-wrapper .home-btn,
.body .main-wrapper .home-btn,
#root .main-wrapper .home-btn {
  border-radius: 10px;
  padding: 0.5rem 2rem;
  background-color: #fff;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  align-self: flex-start;
}
.html .main-wrapper .home-btn :hover,
.body .main-wrapper .home-btn :hover,
#root .main-wrapper .home-btn :hover {
  border: none;
}
.html .main-wrapper .home-btn a,
.body .main-wrapper .home-btn a,
#root .main-wrapper .home-btn a {
  width: 100%;
  text-decoration: none;
  color: #000;
}
.html .main-wrapper .card,
.body .main-wrapper .card,
#root .main-wrapper .card {
  display: flex;
  flex-basis: 2rem;
  border: 1.5rem solid #131512;
  margin: 1rem;
  border-radius: 25%;
  text-align: left;
}
.html .main-wrapper .card .card-img,
.body .main-wrapper .card .card-img,
#root .main-wrapper .card .card-img {
  border-radius: 20%;
}
.html .main-wrapper .card .card-img-overlay,
.body .main-wrapper .card .card-img-overlay,
#root .main-wrapper .card .card-img-overlay {
  border-radius: 20%;
  background-color: #00000031;
}
.html .main-wrapper .card .card-img-overlay .card-body h2,
.body .main-wrapper .card .card-img-overlay .card-body h2,
#root .main-wrapper .card .card-img-overlay .card-body h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  background-color: rgba(0, 0, 0, 0.276);
}
.html .main-wrapper .card .card-img-overlay .card-body .card-text-h3,
.body .main-wrapper .card .card-img-overlay .card-body .card-text-h3,
#root .main-wrapper .card .card-img-overlay .card-body .card-text-h3 {
  font-size: 1rem;
  margin-top: 0;
  color: #bfdfb8;
  background-color: rgba(0, 0, 0, 0.276);
  font-weight: bold;
}
.html .main-wrapper .search-form-wrap,
.body .main-wrapper .search-form-wrap,
#root .main-wrapper .search-form-wrap {
  width: 100%;
}
.html .main-wrapper .search-form-wrap form,
.body .main-wrapper .search-form-wrap form,
#root .main-wrapper .search-form-wrap form {
  display: inline-flex;
  flex-flow: row nowrap;
  max-height: 6rem;
  width: 100%;
  padding: 1rem 7rem;
}
.html .main-wrapper .search-form-wrap form .search-bar,
.body .main-wrapper .search-form-wrap form .search-bar,
#root .main-wrapper .search-form-wrap form .search-bar {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin-right: 2rem;
  margin-left: 4rem;
}
.html .main-wrapper .search-form-wrap form .search-button,
.body .main-wrapper .search-form-wrap form .search-button,
#root .main-wrapper .search-form-wrap form .search-button {
  border-radius: 10px;
  height: fit-content;
}
.html .main-wrapper .spinner-center,
.body .main-wrapper .spinner-center,
#root .main-wrapper .spinner-center {
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.html .main-wrapper .spinner-center .spinner,
.body .main-wrapper .spinner-center .spinner,
#root .main-wrapper .spinner-center .spinner {
  height: 700px;
}

@media screen and (max-width: 800px) {
  .html,
.body,
#root {
    min-height: 100vh;
    max-height: 90vh;
  }
  .html .main-wrapper,
.body .main-wrapper,
#root .main-wrapper {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5% auto;
    background: #454040;
    color: #27c208;
    display: flex;
    flex-flow: column;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .html .main-wrapper h1,
.body .main-wrapper h1,
#root .main-wrapper h1 {
    font-family: "Orbitron", sans-serif;
  }
  .html .main-wrapper .grid-view,
.body .main-wrapper .grid-view,
#root .main-wrapper .grid-view {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: auto;
  }
  .html .main-wrapper .main-img,
.body .main-wrapper .main-img,
#root .main-wrapper .main-img {
    display: block;
    border-radius: 100%;
    margin: 0 auto;
  }
  .html .list-wrap,
.body .list-wrap,
#root .list-wrap {
    height: auto;
    max-width: 1360px;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    background: #454040;
    color: #27c208;
  }
  .html .list-wrap .home-btn,
.body .list-wrap .home-btn,
#root .list-wrap .home-btn {
    margin: 2rem 0;
    border-radius: 10px;
    height: fit-content;
  }
  .html .list-wrap h1,
.body .list-wrap h1,
#root .list-wrap h1 {
    font-size: 50pt;
    margin-bottom: 2rem;
  }
  .html .list-wrap .search-form-wrap form,
.body .list-wrap .search-form-wrap form,
#root .list-wrap .search-form-wrap form {
    display: inline-flex;
    flex-flow: row nowrap;
    max-height: 6rem;
    width: 100%;
    padding: 2rem 7rem;
  }
  .html .list-wrap .search-form-wrap form .search-bar,
.body .list-wrap .search-form-wrap form .search-bar,
#root .list-wrap .search-form-wrap form .search-bar {
    text-align: center;
    border-radius: 10px;
    width: 100%;
    margin-right: 2rem;
  }
  .html .list-wrap .search-form-wrap form .search-button,
.body .list-wrap .search-form-wrap form .search-button,
#root .list-wrap .search-form-wrap form .search-button {
    border-radius: 10px;
    height: fit-content;
  }
  .html .list-wrap .inner-list,
.body .list-wrap .inner-list,
#root .list-wrap .inner-list {
    width: 100%;
    max-width: 30rem;
    height: auto;
  }
  .html .list-wrap .inner-list .card,
.body .list-wrap .inner-list .card,
#root .list-wrap .inner-list .card {
    display: inline-flex;
    border: 0.5em solid #131512;
    flex-basis: 20rem;
    height: auto;
    margin-top: 1rem;
    font-weight: 600;
  }
  .html .list-wrap .inner-list .card .card-img,
.body .list-wrap .inner-list .card .card-img,
#root .list-wrap .inner-list .card .card-img {
    transform: scale(0.95);
  }
  .html .list-wrap .inner-list .card .card-img .card-img-overlay,
.body .list-wrap .inner-list .card .card-img .card-img-overlay,
#root .list-wrap .inner-list .card .card-img .card-img-overlay {
    display: flex;
    flex-basis: inherit;
    flex-shrink: 1;
    flex-flow: column;
    justify-content: flex-end;
  }
  .html .spinner-center,
.body .spinner-center,
#root .spinner-center {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .html .spinner,
.body .spinner,
#root .spinner {
    height: 700px;
  }
}
@media screen and (max-width: 500px) {
  .html,
.body,
#root {
    font-family: "Orbitron", sans-serif;
    margin: 0 auto;
    max-width: 1350px;
    min-height: 100vh;
    max-height: 90vh;
  }
  .html .main-wrapper,
.body .main-wrapper,
#root .main-wrapper {
    height: auto;
    min-height: 90vh;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 10% auto;
    padding: 5%;
    background-color: #454040;
    color: #27c208;
    display: flex;
    flex-flow: column;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .html .main-wrapper h1,
.body .main-wrapper h1,
#root .main-wrapper h1 {
    font-family: "Orbitron", sans-serif;
  }
  .html .main-wrapper .grid-view,
.body .main-wrapper .grid-view,
#root .main-wrapper .grid-view {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: auto;
  }
  .html .main-wrapper .main-img,
.body .main-wrapper .main-img,
#root .main-wrapper .main-img {
    display: block;
    border-radius: 2.5%;
    border: 4px solid black;
  }
  .html .main-wrapper .list-wrap,
.body .main-wrapper .list-wrap,
#root .main-wrapper .list-wrap {
    height: auto;
    max-width: 1360px;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    background: #454040;
    color: #27c208;
  }
  .html .main-wrapper .list-wrap .home-btn,
.body .main-wrapper .list-wrap .home-btn,
#root .main-wrapper .list-wrap .home-btn {
    margin-bottom: 1rem;
    border-radius: 10px;
    height: fit-content;
    background-color: #fff;
  }
  .html .main-wrapper .list-wrap h1,
.body .main-wrapper .list-wrap h1,
#root .main-wrapper .list-wrap h1 {
    font-size: 50pt;
    margin-bottom: 2rem;
  }
  .html .main-wrapper .list-wrap .search-form-wrap,
.body .main-wrapper .list-wrap .search-form-wrap,
#root .main-wrapper .list-wrap .search-form-wrap {
    width: 100%;
  }
  .html .main-wrapper .list-wrap .search-form-wrap form,
.body .main-wrapper .list-wrap .search-form-wrap form,
#root .main-wrapper .list-wrap .search-form-wrap form {
    display: inline-flex;
    flex-flow: column;
    height: auto;
    width: 100%;
    padding: 2rem 7rem;
  }
  .html .main-wrapper .list-wrap .search-form-wrap form .search-bar,
.body .main-wrapper .list-wrap .search-form-wrap form .search-bar,
#root .main-wrapper .list-wrap .search-form-wrap form .search-bar {
    text-align: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
  }
  .html .main-wrapper .list-wrap .search-form-wrap form .search-button,
.body .main-wrapper .list-wrap .search-form-wrap form .search-button,
#root .main-wrapper .list-wrap .search-form-wrap form .search-button {
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 1rem;
  }
  .html .main-wrapper .list-wrap .inner-list,
.body .main-wrapper .list-wrap .inner-list,
#root .main-wrapper .list-wrap .inner-list {
    width: 100%;
    max-width: 30rem;
    max-height: auto;
    margin-right: 4rem;
  }
  .html .main-wrapper .list-wrap .inner-list .card,
.body .main-wrapper .list-wrap .inner-list .card,
#root .main-wrapper .list-wrap .inner-list .card {
    display: inline-flex;
    border: 0.6rem solid #131512;
    flex-basis: 20rem;
    flex-grow: 1;
    flex-shrink: 1;
    height: 15rem;
    width: 15rem;
    margin-top: 2rem;
    border-radius: 25%;
  }
  .html .main-wrapper .list-wrap .inner-list .card .card-img,
.body .main-wrapper .list-wrap .inner-list .card .card-img,
#root .main-wrapper .list-wrap .inner-list .card .card-img {
    border-radius: 20%;
  }
  .html .main-wrapper .list-wrap .inner-list .card .card-img .card-img-overlay,
.body .main-wrapper .list-wrap .inner-list .card .card-img .card-img-overlay,
#root .main-wrapper .list-wrap .inner-list .card .card-img .card-img-overlay {
    display: flex;
    flex-basis: inherit;
    flex-shrink: 1;
  }
  .html .main-wrapper .spinner-center,
.body .main-wrapper .spinner-center,
#root .main-wrapper .spinner-center {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .html .main-wrapper .spinner,
.body .main-wrapper .spinner,
#root .main-wrapper .spinner {
    height: 700px;
  }
}
@media screen and (max-width: 450px) {
  html .card,
body .card,
#root .card {
    height: auto;
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  html .card .card-img-overlay,
body .card .card-img-overlay,
#root .card .card-img-overlay {
    font-size: 13pt;
    margin-top: 2rem;
    margin: 0;
  }
}

/*# sourceMappingURL=index.css.map */
